site_name: oct - the Open Clinical Terminology 
site_description: >-
  Open Clinical Terminology (`oct`) - an open, community-driven clinical terminology.
site_url: https://tommyyama2020.github.io/oct
repo_url: https://github.com/openterminology/oct
repo_name: openterminology/oct

copyright: >
  oct - Open Clinical Terminology - is copyright &copy; 2022-25 Baw Medical Ltd, licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> (concepts and data) or <a rel="license" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> (code).

theme:
  name: material
  language: en
  features:
    - content.action.edit # explicitly adds edit button (Material4MkDocs9.0)
    - content.action.view # explicitly adds view button (Material4MkDocs9.0)
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.footer # explicitly adds footer prev/next (Material4MkDocs9.0)
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: blue
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - For Contributors:
      - Overview: contributors/index.md
      - How to contribute: contributors/how-to-contribute.md
      - Code of conduct: code-of-conduct.md
  - For Informaticians:
      - Overview: informaticians/index.md
  - For Developers:
      - Overview: developers/index.md
      - Tooling (CLI, APIs): developers/tooling.md
      - Documentation setup: developers/docs-setup.md
  - Reference:
      - Attribution and licensing: attribution.md
      - Foundation and custodianship: foundation.md
      - Project specification: README.md

